body
{
	background-color: #444444;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: white;
	text-align: center;
}

table.center
{
	margin-left:auto; 
	margin-right:auto;
}

table, th, td 
{
    border: 1px solid white;
    border-collapse: collapse;
}

th, td 
{
    padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
}

td
{
	text-align: left;
}

a:link, a:visited {
	color: #bfbfbf;
}
a:active, a:hover {
	color: #bfbfbf;
}
p.header {
	font-size: small;
}
p.header span {
	font-weight: bold;
}
p.footer {
	font-size: x-small;
}